<div class="album">
  <div class="container">
    <div class="row">
      <h2>Please vote for you favorite character</h2>
      <div class="col-md-4"
          *ng-for="#character of characters">
          <div class="card card-block">
            <img src="assets/starwars-{{character}}.png"
                 width="200"><br/>
            <button class="btn btn-primary"
                    (click)="onVoteClick(character)">
                Vote for {{character}}
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
